@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Exile&display=swap');

p{
    font-family: "Exile", system-ui;
    font-weight: 400px;
    font-style: normal;
    color: blue;
    text-align: center;
    font-size: 6px;
    padding: 120px;
}
h1{
    text-align: center;
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
}
.perguntinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    
}