body {
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 28, 28);
    justify-content:center ;
    justify-items: center;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #4905884e;
    color: rgb(255, 255, 255);
    /*background-color: antiquewhite;   muda a cor do que está dentro do login*/
    padding: 10px;
    /*espaçamento dentro do conteudo*/
    margin-bottom: 10px;
    /*espaçamento fora do cont*/
    width: 300px;
    min-height: 300px;
    box-shadow: 0px 0px 15px rgb(17, 255, 128);
    height: 10px ;


}

#cadastro {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fceaea;
    border-radius: 10px;
    background-color: #0a2149;
    color: aliceblue;
    /*background-color: antiquewhite;   muda a cor do que está dentro do login*/
    padding: 10px;
    margin-bottom: 10px;
    /* afasta o login do cadastro*/
    width: 300px;
    min-height: 100px;
    gap: 5px;
    box-shadow: 0 0 10px #00ff00;
}



.containerinput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 5px;
    height: 25px;
    
}

button {
    background-color: #00ff00;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    gap: 10px 10px;
}

button:hover {
    background-color: rgb(19, 235, 255);
    scale: 1.1;
    



}

.Login{
    color: #15846c;
    
}
.cadastrar{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 40px 40px
}

nav{    
    display: flex;
    flex-direction: row;
    gap: 10px 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aqua;
    height: 20vh;
}

h2 {
    color: aliceblue;
    font-size: 70px;
}

#produtos{
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 50px;
   gap: 10px 10px;
   color: #fceaea;
   
   
}
h3{
    padding: 20px;
    color: white;
}
.Produto1{
    padding-left: 10px;
}
