body{
    background-color: #322463;
    font-family: Arial, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    align-items:center;
    color: antiquewhite;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: aliceblue;
    margin: 10px;
    gap: 20px 10px;
    border-radius: 10px;
}

.PG2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}