body{
display: flex;
flex-direction: column;
gap: 20px; /* Distância entre os grupos de botões */
align-items: center;
background-image: url("685972492624.jpg");
background-size: cover;
background-position:center ;
background-repeat: no-repeat;
background-attachment: fixed;
}
h1{
    color: aliceblue;
    text-align: center;
}