body{
    display: flex;
    flex-direction: column;
    gap: 20px; /* Distância entre os grupos de botões */
    align-items: center;
    background-image: url(forCode/bg,pnj);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    h1{
        color: aliceblue;
        text-align: center;
    }

/* Definindo o estilo da container geral para alinhar os botões */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Distância entre os grupos de botões */
    align-items: center;
}

/* Estilo geral para cada grupo de botões */
.botoes, .botoesL2, .botoesL3 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Distância entre os botões */
    justify-content: center; /* Centraliza os botões dentro do grupo */
    gap: 50px;
}

/* Limitar o número de botões por linha */
.botoes button, .botoesL2 button, .botoesL3 button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Efeito de hover nos botões */
.botoes button:hover, .botoesL2 button:hover, .botoesL3 button:hover {
    background-color: #5045a0;
}
